{{> head }}
{{> menu }}

<div class="row">
    <div class="col">
        <h1>Proyectos:</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-10"></div>
        <div class="col-2">
            <a href="/nuevo-proyecto"><input type="submit" value="Nuevo Proyecto" class="btn btn-primary"></a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
        <thead>
          <tr>
            <th scope="col" class="col-2">#</th>
            <th scope="col" class="col-6">Proyecto</th>
            <th scope="col" class="col-6">Categoría</th>
            <th scope="col" class="col-2">Editar</th>
            <th scope="col" class="col-2">Eliminar</th>
          </tr>
        </thead>
        <tbody>

          {{#if proyectosListado.length}}
            {{#each proyectosListado}}
              <tr>
                <th scope="row">1</th>
                <td>{{titulo}}</td>
                <td>{{categoriaClase}}</td>
                <td><a href="/proyectos/editar/{{_id}}"><input type="button" value="Editar" class="btn btn-primary"></a></td>
                <td><a href="/proyectos/borrar/{{_id}}"><input type="button" value="Eliminar" class="btn btn-primary"></a></td>
              </tr>
            {{/each}}
          {{/if}}
    
        </tbody>
      </table>
        </div>
    </div>
</div>

{{> footer}}