{{> head }}
{{> menu }}

<div class="row">
    <div class="col">
        <h1>Testimonios:</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-10"></div>
        <div class="col-2">
            <a href="/nuevo-testimonio"><input type="submit" value="Nuevo Testimonio" class="btn btn-primary"></a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
        <thead>
          <tr>
            <th scope="col" class="col-2">#</th>
            <th scope="col" class="col-6">Categoría</th>
            <th scope="col" class="col-2">Editar</th>
            <th scope="col" class="col-2">Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Cortado de cesped re loco</td>
            <td><a href="/"><input type="button" value="Editar" class="btn btn-primary"></a></td>
            <td><a href="/"><input type="button" value="Eliminar" class="btn btn-primary"></a></td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Cortado de cesped re en cualquiera</td>
            <td><a href="/"><input type="button" value="Editar" class="btn btn-primary"></a></td>
            <td><a href="/"><input type="button" value="Eliminar" class="btn btn-primary"></a></td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Cortado de cesped hasta las re manos</td>
            <td><a href="/"><input type="button" value="Editar" class="btn btn-primary"></a></td>
            <td><a href="/"><input type="button" value="Eliminar" class="btn btn-primary"></a></td>
          </tr>

        </tbody>
      </table>
        </div>
    </div>
</div>

{{> footer}}